services:
  db:
    image: postgres:17
    container_name: desafio-db
    env_file: .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: ./backend
    container_name: desafio-api
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules  # Evita conflito de node_modules
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: desafio-frontend
    env_file: .env
    depends_on:
      - api
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
      - /app/node_modules  # Importante!
      - /app/.angular     # Cache do Angular
    restart: unless-stopped
    stdin_open: true      # Permite interação
    tty: true            # Terminal interativo

volumes:
  db_data: